{{> header}}
<h1>Project</h1>

{{#if projectData.project}}
<ul>
    {{#each projectData.project}}
    <li>{{this}} </li>
    {{/each}}
</ul>
{{/if}}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquam
dolorem quos, reprehenderit commodi eum nostrum suscipit exercitationem
doloribus veniam autem error nisi officiis temporibus tempore provident
voluptates esse quae!

{{> footer}}